@media(max-width:750px){
    
.card-container{
    flex-direction: column;
    margin: 20px;
}

picture{
    width:100%;
}

img{
    border-radius: 10px 10px 0px 0px;

    width: 100%;
}

.product-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 25px;
}

.product-price-container{
    margin-top: 30px;
    margin-bottom: 20px;
}

}